<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="src/components/Footer/Footer.css" />
</head>
    <body>
        <footer>
            <div class="footer-content">
                <p>© 2025 Milan Trzepalkowski. Tous droits réservés.</p>
                <div class="social-links">
                <a href="https://github.com/MilanTrz" target="_blank" aria-label="GitHub">
                    <img src="assets/images/github.webp" alt="GitHub" />
                </a>
                <a href="https://www.linkedin.com/in/milan-trzepalkowski-870680277/" target="_blank" aria-label="LinkedIn">
                    <img src="assets/images/linkedin.webp" alt="LinkedIn" />
                </a>
                <a href="mailto:trzepalkowskimilan@gmail.com" aria-label="Email">
                    <img src="assets/images/gmail.webp" alt="Email" />
                </a>
                <a href="assets/cv/CV Milan Trzepalkowski.pdf" download="CV-Trzepalkowski-Milan.pdf">
                    <img src="assets/images/cv.webp" alt="CV"/>
                </a>
                </div>
            </div>
        </footer>
    </body>
</html>    